<h1>プロフィールの編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %> <!-- ここを追加 -->

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.label "お住いの地域" %>
      <%= f.select :area, {
        "北海道" => "北海道", 
        "東北" => "東北",
        "関東" => "関東",
        "中部" => "中部",
        "近畿" => "近畿",
        "中国" => "中国",
        "四国" => "四国",
        "九州" => "九州"
        }  %>
        
      <%= f.label "自己紹介" %>
       <%= f.text_area :intro, :size => "20x10" %>

      <%= f.submit "プロフィールを更新する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>